@import "compass/reset";
@import "compass/css3";

body {
  font-size: 62.5%;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-grvpaa');
    src:url('../fonts/icomoon.eot?#iefix-grvpaa') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-grvpaa') format('woff'),
        url('../fonts/icomoon.ttf?-grvpaa') format('truetype'),
        url('../fonts/icomoon.svg?-grvpaa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* mixin part */

/* for draw circle */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* square shape, with same height and width*/
@mixin square-size($side) {
    width: $side;
    height: $side;
    display: inline-block;
}



/* global variable*/

$header-height: 80px;
$font-size: 20px;
$global-nav-height: 80px;
$normal-icon-size: 16px;      // for small icon
$large-icon-size: 20px;       // for larger icon
$content-background: #F2EEE8;
$left-side-width: 280px;
$left-side-blue: #81A8CA;
$circle-icon-radius: 20px;



/*  header part  */

header {
    height: $header-height;
    width: 100%;
}

.icon {
    display: inline-block;
    &:before {
        font-family: 'icomoon';
        text-align: center;
    }
}

.normal-icon:before {
    font-size: $normal-icon-size;
    display: inline-block;
    @include border-radius($normal-icon-size / 2);
}

.large-icon:before {
    font-size: $large-icon-size;
    display: inline-block;
    @include border-radius($large-icon-size / 2);
}

.nav {
    overflow: hidden;
    > li {
        float: left;
        position: relative;
        &:first-child {
            border-right: 2px solid #F1EDE6;
            span {
                background-color: $left-side-blue;
            }
        }

        span {
            background-color: white;
        }

        .icon {
            float: left;
            @include square-size($circle-icon-radius * 2);
            @include border-radius($circle-icon-radius);
            border: 1px solid #E4E0D9;
            margin: 20px;
        }
    }
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    .global-nav {
        height: $global-nav-height;
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.15);
        .container {
           text-align: center;
        }

        .icon-bird {
            &:before {
                content: "\e608";
                text-align: center;
                font-size: 30px;
            }
        }

        .bird-topbar {
            color: #55acee;
            position: absolute;
            top: 50%;
            margin-top: -15px;
        }

        .navigation {
            display: inline-block;
            float: left;
            .global-actions {
                > li {
                    height: $global-nav-height;
                    width: 80px;
                }
            }

            .home-icon {
                color: white;
                &:before {
                    content: "\e600";
                    position: relative;
                    top: 10px;
                }
            }

            .notice-icon {
                color: black;
                &:before {
                    content: "\e607";
                    position: relative;
                    top: 10px;
                }
            }

            .email-icon {
                color: black;
                &:before {
                    content: "\f03b";
                    position: relative;
                    top: 10px;
                }
            }

            .octothorpe-icon {
                color: black;
                &:before {
                    content: "#";
                    position: relative;
                    top: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}

/* left-aside */
#left-aside {
    background-color: $left-side-blue;
    position: absolute;
    bottom: 0;
    width: $left-side-width;
    top: $header-height;
    left: 0;
    font-size: $font-size;
    .introduction {
        position: absolute;
        top: 0;
        bottom: 60%;
    }

    .activities {
        position: absolute;
        top: 70%;
    }
}

/* main content part */
.content {
    background-color: #F2EEE8;
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: $left-side-width;
    right: 160px;
}


/*  right side bar */

.dashboard-right {
    width: 160px;
    background-color: #ff0000;
    position: absolute;
    top: $header-height;
    right: 0;
    bottom: 0;;
}