@import "compass/reset";
@import "compass/css3";

@font-face {
<<<<<<< HEAD
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-grvpaa');
    src:url('../fonts/icomoon.eot?#iefix-grvpaa') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-grvpaa') format('woff'),
        url('../fonts/icomoon.ttf?-grvpaa') format('truetype'),
        url('../fonts/icomoon.svg?-grvpaa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
=======
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-grvpaa');
  src: url('fonts/icomoon.eot?#iefix-grvpaa') format('embedded-opentype'),
  url('fonts/icomoon.woff?-grvpaa') format('woff'),
  url('fonts/icomoon.ttf?-grvpaa') format('truetype'),
  url('fonts/icomoon.svg?-grvpaa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
>>>>>>> gh-pages
}

body {
  font-size: 62.5%;
}

<<<<<<< HEAD
$header-height: 100px;
$font-size: 20px;
$global-nav-height: 80px;
$normal-icon-size: 20px;
$content-background: #F2EEE8;
$left-side-width: 280px;
=======
$header-height: 80px;
$font: 20px;

>>>>>>> gh-pages

/*  header part  */

header {
<<<<<<< HEAD
    height: $header-height;
    width: 100%;
=======
  height: $header-height;
  width: 100%;
>>>>>>> gh-pages
}

.icon {
    display: inline-block;
    &:before {
        font-family: 'icomoon';
        text-align: center;
    }
}

.large-icon:before {
    font-size: 25px;
}

.normal-icon:before {
    font-size: $normal-icon-size;
}

.nav {
    overflow: hidden;
    > li {
        float: left;
        position: relative;
        .icon {
            float: left;
            margin: 11px 0 0 10px;
            width: 23px;
            height: 23px;
        }
    }
}

.top-bar {
<<<<<<< HEAD
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    .global-nav {
        height: $global-nav-height;
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.15);
        .container {
           text-align: center;
        }

        .icon-bird {
            &:before {
                content: "\e608";
                text-align: center;
            }
        }

        .bird-topbar {
            color: #55acee;
            margin-top: 14px;
        }

        .navigation {
            display: inline-block;
            float: left;
            .global-actions {
                > li {
                    height: $global-nav-height;
                    width: 50px;
                }
            }

            .home-icon {
                width: 45px;
                margin-top: 10px;
                &:before {
                    content: "\e600";
                }
            }
        }
=======
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  .notice {
    height: 100%;

    .fa-quill {
      width: 80px;

      &:before {
        content: "\e600";
      }
>>>>>>> gh-pages
    }
  }
}

<<<<<<< HEAD
/* left-aside */
#left-aside {
    background-color: #81A8CA;
    position: absolute;
    bottom: 0;
    width: $left-side-width;
    top: $header-height;
    left: 0;
    font-size: $font-size;
    .introduction {
        position: absolute;
        top: 0;
        bottom: 60%;
    }

    .activities {
        position: absolute;
        top: 70%;
    }
}

/* main content part */
.content {
    background-color: #F2EEE8;
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: $left-side-width;
    right: 160px;
}


/*  right side bar */

.dashboard-right {
    width: 160px;
    background-color: #ff0000;
    position: absolute;
    top: $header-height;
    right: 0;
    bottom: 0;;
=======
/* main content part */

/* left-aside */
#left-aside {
  background-color: steelblue;
  position: absolute;
  bottom: 0;
  right: 75%;
  top: $header-height;
  left: 0;
  min-height: 100%;
  font-size: $font;
  .introduction {
    position: absolute;
    top: 0;
    bottom: 60%;
  }

  .activities {
    position: absolute;
    top: 70%;
  }

>>>>>>> gh-pages
}