@import "compass/reset";
@import "compass/css3";

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-grvpaa');
    src:url('fonts/icomoon.eot?#iefix-grvpaa') format('embedded-opentype'),
        url('fonts/icomoon.woff?-grvpaa') format('woff'),
        url('fonts/icomoon.ttf?-grvpaa') format('truetype'),
        url('fonts/icomoon.svg?-grvpaa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size: 62.5%;
}


/*  header part  */

header {
    height: 80px;
    width: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    .notice {
        height: 100%;

        .fa-quill {
            width: 80px;

            &:before {
                content: "\e600";
            }
        }
    }
}


/* main content part */
